@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 500;
    font-style: normal;
    font-display: swap;
}