$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 1024px;
$tablet: 1023px;

$mobile-above: 768px;
$mobile: 767px;

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}